@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground: 0, 0, 0;
  --background: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: 255, 255, 255;
    --background: 0, 0, 0;
  }
} */

@layer base {
  body {
    /* - This allows us to have a holy-grail `flex` layout: https: //philipwalton.github.io/solved-by-flexbox/demos/holy-grail/ */
    /* - Children can fill available height with `flex: 1` */
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100dvh;
  }
}

.box {
  position: relative;
}
.box::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50px;
  padding: 4px;
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #0000ff,
    #4b0082,
    #9400d3
  );
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.aqua-button {
  border: solid;
  border-width: 1px;
  border-color: rgba(71, 138, 223, 1);
  border-radius: 200px;
  background: linear-gradient(180deg, rgba(71, 138, 223, 1) 0%, #bae3f6 100%);
  box-shadow:
    0px 6px 4px 0px rgba(14, 97, 192, 0.19),
    0px 2px 2px 0px rgba(14, 97, 192, 0.19),
    0px 6px 18px 0px rgba(0, 128, 161, 0.33),
    0px 0px 24px 0px rgba(255, 255, 255, 0.21) inset;
}
.aqua-button-shine {
  border-radius: 200px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
